html{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.download-link{
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
    color: aquamarine;
}

.download-link a{
    text-decoration: inherit;
    color: inherit;
}

.travel-guide{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}

.travel-guide p{
    font-size: 26px;
    color: gray;
}

.phone img{
    padding-top: 20px;
    
}

.coming-soon{
    font-size: 35px;
}

.copyright{
    text-align: right;
    color: gray;
    font-size: 16px;
}