html{
    background-color: black;
    font-family: verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.download-link{
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
    color: aquamarine;
}

.download-link a{
    text-decoration: inherit;
    color: inherit;
}

.travel-guide{
    font-family: verdana;
    font-weight: 300;
    font-size: 42px;
}

.travel-guide p{
    font-size: 26px;
    color: gray;
}